/*------------------------------------------------------------------
[Master Stylesheet]

Project:	BeVolunteer - Nonprofit Fundraising Responsive Template
Version:	1.0
Last change:	5/01/2015
Developed By:	Esmet Hajrizi
Developer URI:	http://esmeth.com
Primary use:	Charity, Nonprofit and Fundraising
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. Main Styling
2. Header
3. Footer
4. About Us
5. 404 Error Page
6. Gallery
7. Contact
8. Blog
9. Sidebar
10. Page Title (top section)
11. Typography
12. Buttons
13. Call to action
14. Alerts
15. Forms
16. Banners
17. Testimonials
18. Miscellaneous
19. Post Formating
20. Other Plugins

-------------------------------------------------------------------*/
/*----------------------------------------------------------------*/
.primary-font,
body,
p {
  font-family: 'Montserrat', sans-serif;
}
.heading-font,
.main-navigation a,
.site-footer ul.footer-list li,
.site-footer .copyright,
h1,
h2,
h3,
h4,
h5,
h6,
.btn.btn-bordered,
.alert,
.nav-tabs > li > a,
.subscribe-submit,
.tp-caption a.btn,
.bottom-part .donation-form .steps li,
ul.event-small li .date span:last-of-type,
ul.event-small li .event-content a.event-title,
.mean-container .mean-nav ul li a {
  font-family: 'Montserrat', sans-serif;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*----------------------------------------------------------------*/
a.meanmenu-reveal {
  display: none;
}
.mean-container .mean-bar {
  float: left;
  width: 100%;
  position: relative;
  background: transparent;
  min-height: 50px;
  z-index: 99;
}
.mean-container a.meanmenu-reveal {
  width: 22px;
  height: 22px;
  padding: 13px 13px 11px 13px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-weight: 700;
}
.mean-container a.meanmenu-reveal span {
  display: block;
  background: #000;
  height: 3px;
  margin-top: 3px;
}
.mean-container .mean-nav {
  float: left;
  width: 100%;
  background: transparent;
  margin-top: 44px;
}
.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}
.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
}
.mean-container .mean-nav ul li a {
  font-size: 12px;
  position: relative;
  display: block;
  float: left;
  width: 100%;
  padding: 15px 20px;
  margin: 0;
  text-align: center;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.mean-container .mean-nav ul li li a {
  width: 100%;
  padding: 15px 40px;
  border-top: 1px solid #da7201;
  text-shadow: none !important;
  visibility: visible;
}
.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
  width: 100%;
  padding: 15px 80px;
}
.mean-container .mean-nav ul li li li li a {
  width: 100%;
  padding: 15px 120px;
}
.mean-container .mean-nav ul li li li li li a {
  width: 100%;
  padding: 15px 160px;
}
.mean-container .mean-nav ul li a.mean-expand {
  width: 55px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  position: absolute;
  right: 24px;
  top: 0;
  z-index: 2;
  font-weight: 700;
  padding: 0;
  border: 1px solid #da7201;
}
.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}
.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
.mean-container .mean-bar,
.mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.mean-remove {
  display: none !important;
}
#responsive-menu .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}
