


.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent; 
}


.carousel-caption {
    position: initial !important;
    right: 15%;
    bottom: 20px;
  }  

  a.left.carousel-control {
    display: none;
}

a.right.carousel-control {
    display: none;
}

