<header class="site-header">
     
      
      <nav id="site-nav" class="main-navigation navbar-fixed-top" role="navigation">


        <div class="container">
          <div class="row">
            <div class="col-sm-12">

             {{ page.header }}

              {{ page.main_menu }}



                            

            </div>
          </div>
        </div>
      </nav>
      <nav id="responsive-menu"></nav>
    </header>

<!-- end navigation panel -->

      
     

           <div class="bg-gray below-header">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div id='blog-slider-grid' class='owl-carousel owl-theme'>
            
                  {% for slider_content in slider_content %}
                    {{ slider_content | raw }}
                  {% endfor %}
            
                  </div>
                </div>
              </div>
            </div>
          </div>      

  



<section id="blog" class="bg-gray no-padding-top">
  <div class="container">

      {{ page.blog }}
   
  </div>
</section>
<!-- footer -->


<footer>
  <div class="container-fluid bg-black footer-middle">
    <div class="container">
      <div class="row margin-two no-margin-bottom">
        <div class="col-md-3 col-sm-6 col-cs-12 footer-link1"> 
          <!-- headline -->
          {% if footer_title|render is not empty %}
                 <h5>{{ footer_title }}</h5>
           {% endif %}
         
          <!-- end headline --> 
          <!-- text -->
          <p class="footer-text">
            
            {% if footer_text|render is not empty %}   
              {{ footer_text }}    
             {% endif %}

           </p>
          <!-- end text --> 
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 footer-link2"> 
          <!-- headline -->
            {{ page.footer2 }}
          <!-- end link --> 
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12  footer-link3"> 
          <!-- headline -->
            {{ page.footer2 }}
          <!-- end link --> 
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12  footer-link4"> 
          <!-- headline -->
            {{ page.footer2 }}
          <!-- end link --> 
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-black footer-bottom">
    <div class="container">
      <div class="row margin-two"> 
        <!-- copyright -->
        <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
         &copy;

           {% if copy|render is not empty %} 
                {{ copy }}               
           {% endif %}

           </div>
        <!-- end copyright -->
        <div class="col-md-6 col-sm-6 col-xs-12 footer-social text-right sm-text-center"> 
          <!-- social media link --> 
         

            {% if facebook_url|render is not empty %}
              <a target="_blank" href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a>     
            {% endif %}

            {% if twitter_url|render is not empty %}
             <a target="_blank" href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a>
            {% endif %}  

            {% if google_plus_url|render is not empty %}
               <a target="_blank" href="{{ google_plus_url }}"><i class="fa fa-google-plus"></i></a>
            {% endif %} 

            {% if dribbble_url|render is not empty %}
              <a target="_blank" href="{{ dribbble_url }}"><i class="fa fa-dribbble"></i></a> 
            {% endif %} 
 
            {% if youtube_url|render is not empty %}
             <a target="_blank" href="{{ youtube_url }}"><i class="fa fa-youtube"></i></a> 
            {% endif %}  

            {% if linkedin_url|render is not empty %}
             <a target="_blank" href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a> 
            {% endif %}   


          <!-- end social media link --> 
        </div>
      </div>
    </div>
  </div>
  <!-- scroll to top --> 
  <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a> 
  <!-- scroll to top End... --> 
</footer>
<!-- end footer --> 


     