


     
 <header class="l-header">
        
    <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav static-sticky bg-white" role="navigation">
      <div class="container">
            <!--logo start-->
            
                {{ page.header }}

            <!--logo end-->

            <!--mega menu start-->
             <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
                
                {{ page.main_menu }}

            </ul>
            <!--mega menu end-->
        </div>
    </nav>
                
</header>
<!-- end navigation panel -->

      
  <div class="content-top-margin page-title page-title-small bg-gray ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-duration="300ms"> 
        <!-- page title -->
        <h1 class="black-text text-center">{{ page['#title'] }}</h1>
        <!-- end page title --> 
      </div>
    </div>
  </div>
</div>

<!-- .......bootstrap..........-->

    <div class="container">
                
        <!--          {{ page.content }}
     -->
     {# Main #}
{% block main %}
  <div role="main" class="main-container {{ container }} js-quickedit-main-content">
    <div class="row">

      {# Header #}
      {% if page.header %}
        {% block header %}
          <div class="col-sm-12" role="heading">
            <!-- {{ page.header }} -->
          </div>
        {% endblock %}
      {% endif %}

      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? 'col-sm-12'
        ]
      %}
      <section{{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <footer class="footer {{ container }}" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endblock %}
{% endif %}


             </div>   




<!-- footer -->


<footer>
  <div class="container-fluid bg-black footer-middle">
    <div class="container">
      <div class="row margin-two no-margin-bottom">
        <div class="col-md-3 col-sm-4 footer-link1"> 
          <!-- headline -->
          {% if footer_title|render is not empty %}
                 <h5>{{ footer_title }}</h5>
           {% endif %}
         
          <!-- end headline --> 
          <!-- text -->
          <p class="footer-text">
            
            {% if footer_text|render is not empty %}   
              {{ footer_text }}    
             {% endif %}

           </p>
          <!-- end text --> 
        </div>
        <div class="col-md-3 col-sm-2 col-xs-4 footer-link2"> 
          <!-- headline -->
            {{ page.footer2 }}
          <!-- end link --> 
        </div>
        <div class="col-md-3 col-sm-2 col-xs-4  footer-link3"> 
          <!-- headline -->
            {{ page.footer2 }}
          <!-- end link --> 
        </div>
        <div class="col-md-3 col-sm-2 col-xs-4  footer-link4"> 
          <!-- headline -->
            {{ page.footer2 }}
          <!-- end link --> 
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-black footer-bottom">
    <div class="container">
      <div class="row margin-two"> 
        <!-- copyright -->
        <div class="col-md-6 col-sm-6 col-xs-12 copyright text-left letter-spacing-1 xs-text-center xs-margin-bottom-one">
         &copy;

           {% if copy|render is not empty %} 
                {{ copy }}               
           {% endif %}

           </div>
        <!-- end copyright -->
        <div class="col-md-6 col-sm-6 col-xs-12 footer-social text-right sm-text-center"> 
          <!-- social media link --> 
         

            {% if facebook_url|render is not empty %}
              <a target="_blank" href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a>     
            {% endif %}

            {% if twitter_url|render is not empty %}
             <a target="_blank" href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a>
            {% endif %}  

            {% if google_plus_url|render is not empty %}
               <a target="_blank" href="{{ google_plus_url }}"><i class="fa fa-google-plus"></i></a>
            {% endif %} 

            {% if dribbble_url|render is not empty %}
              <a target="_blank" href="{{ dribbble_url }}"><i class="fa fa-dribbble"></i></a> 
            {% endif %} 
 
            {% if youtube_url|render is not empty %}
             <a target="_blank" href="{{ youtube_url }}"><i class="fa fa-youtube"></i></a> 
            {% endif %}  

            {% if linkedin_url|render is not empty %}
             <a target="_blank" href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a> 
            {% endif %}   


          <!-- end social media link --> 
        </div>
      </div>
    </div>
  </div>
  <!-- scroll to top --> 
  <a href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a> 
  <!-- scroll to top End... --> 
</footer>
<!-- end footer --> 


     